<h1>This the secret page!</h1>

<p>You found me! Try and Stop me!</p>

<img src="https://cf.geekdo-images.com/XOrYRGL90YJqglCeX--hB_9LHvA=/fit-in/1200x630/pic401239.jpg">


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
